@media (max-width: 991px) {
	.header {
		margin: 0 10px;
		&__logo {
			width: 200px;
		}
		&__official {
			font-size: 10px;
			span {
				font-size: 16px;
			}
		}
		&__phone {
			font-size: 16px;
		}
	}

	.promo {
		&__wrapper {
			margin-right: 10px;
		}
		&__link {
			font-size: 13px;
		}
		&__header {
			font-size: 40px;
		}
		&__subheader {
			font-size: 22px;
		}
	}

	.button {
		width: 120px;
		height: 24px;
		font-size: 10px;
		&_main {
			margin-top: 67px;
			width: 200px;
			height: 30px;
			font-size: 13px;
		}
        &_submit {
            width: 100%;
            height: 58px;
            font-weight: 500;
            font-size: 16px;
        } // Спитати у Іллі чому при зміні розміру не працює &_submit з файлу _buttons.scss. Чому необхідно повторювати в медіа файлі?
	}
    .title {
        &_left {
            font-size: 36px;
            color: #FFFFFF;
            text-align: center;
        }
    }
    .consultation {
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 30px;
    }
    .carousel {
        &__inner {
            width: 90%;
            img {
                display: block;
                margin: 0 auto;
                width: 50vw;
            }
        }

    }
}
@media (max-width: 767px) {
	.header {
		&__logo {
			width: 150px;
		}
		&__official {
			font-size: 9px;
			span {
				font-size: 14px;
			}
		}
		&__phone {
			font-size: 14px;
		}
	}
	.promo {
		&__wrapper {
			align-items: center;
			margin-top: 60px;
		}
		&__link {
			font-size: 13px;
		}
		&__header {
			font-size: 30px;
		}
		&__subheader {
			font-size: 20px;
		}
	}

	.advantages {
		&__header {
			font-size: 28px;
		}
		&__wrapper {
			margin-top: 50px;
		}
		&__subtitle {
			margin-top: 25px;
			font-size: 15px;
		}
		&__descr {
			margin-top: 13px;
			font-size: 10px;
			line-height: 17px;
		}
	}

	.button {
		width: 100px;
		height: 17px;
		font-size: 9px;
		&_main {
			margin-top: 90px;
			width: 165px;
			height: 30px;
			font-size: 10px;
		}
        &_submit {
            width: 100%;
            height: 58px;
            font-weight: 500;
            font-size: 16px;
        }
    }
    .catalog__content {
        flex-direction: column;
        align-items: center; 
    }
}
@media (max-width: 575px) {
    br {
		display: none;
	}
    .header {
        flex-direction: column;
        align-items: center;
        &__official {
            margin-top: 5px;
        }
        &__contacts {
            align-items: center;
        }
    }
    .promo {
        padding: 21px 0 50px 0;
        &__wrapper{
            margin-top: 50px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
            margin-top: 13px;
        }
        &__icons {
            flex-direction: column;
        }
        &__icon {
            width: 200px;
            font-size: 16px;
            line-height: 16px;
            img {
                margin-bottom: 10px;
            }
        }
    }
	.advantages {
		&__descr {
			font-size: 10px;
		}
        &__wrapper {
            flex-direction: column;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__descr {
            font-size: 13px;
        }
	}
    .title {
        &_left {
            font-size: 24px;
            color: #FFFFFF;
            text-align: center;
        }
    }
    .feed-form {
        width: 240px;
    }
    .button {
        &_submit {
            height: 40px;
            font-size: 13px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 50px;
        }
        &__tab {
            margin: 5px;
        }
        &__content {
            flex-direction: column;
        }
        &-item {
            width: 250px;
            &__descr {
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            width: 150px;
            height: 150px;
        }
        &__text {
            margin-top: 15px;
        }
        &__name {
            font-size: 16px;
        }
        &__marafon {
            font-size: 13px;
        }
        &__descr {
            font-size: 13px;
            line-height: 20px;
        }
    }
}
@media (max-width: 320px) {
    br {
		display: none;
	}
    .title {
        &_left {
            font-size: 20px;
            color: #FFFFFF;
            text-align: center;
        }
    }
    .consultation {
        &__descr {
            font-size: 14px;
        }
    }
    .feed-form {
        width: 240px;
    }
    .button {
        &_submit {
            height: 40px;
            font-size: 13px;
        }
    }

}


