*	{
	font-family: 'MuseoModerno', sans-serif;
}
@import '../base/variable';
@import '../base/mixins';
@import '../base/general';
@import '../blocks/promo';
@import '../blocks/header';
@import '../blocks/buttons';
@import '../blocks/advantages';
@import '../blocks/title';
@import '../blocks/consultation';
@import '../blocks/forms';
@import '../blocks/carousel';
@import '../blocks/catalogs';
@import '../blocks/feed';
@import '../base/media';

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}